<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meadowlark Travels</title>
</head>
<body>
    <header><img src="/img/logo.jpg" alt="Meadowlark Travel Logo" width="70px"></header>
    {{{body}}}
    {{!--  This expression will be replaced with the HTML for each view --}}
    {{!-- If you used {{body}} (double braces), HTML would be treated as plain text. --}}
</body>
</html>